$colornegroclaro: #5d5d5d;
$coloranaranjado:#fe9b00;

#contenidoprincipal p{
	color: $colornegroclaro;
	font-size: 12px;
	line-height: 20px;
}
#centro{
	max-width: 100%;
}
#cuadro1-extra-lista{
	@include list-style;
	margin: 0;
	padding: 0;
}
.cuadro1-img{
    padding-left: 14%;
    background-image: url(../../img/check.png);
    background-repeat: no-repeat;
}
#texto{
    font-style: italic;
    font-size: 12px;
}

.cuadro1{
	max-width: 29%;
	float: left;
}

.cuadro1 + .cuadro1{
	margin-left: 6.25%;
}

#nav-list a{
	font-size: 12px;
	font-weight: bold;
	color: $coloranaranjado;
	@include text-decoration;
}
#link1{
    color: $coloranaranjado;
    @include text-decoration;
    @include decoracion ($pbottom:none, $pleft:20px, $bckimg:url(../../img/arrow.png), $bckrep:no-repeat, $bckpos:0px);

}
#portafolio{
	border-bottom: none;
	}
#our-portafolio a+a{
	margin-left: 2.9%;
}
.imagenes{
	width: 22%;
	
}
#prefooter div{
	float: left;
	margin-bottom: 30px;
}
#uppdates{
	max-width: 77%;
	
}
#uppdates p{
	font-size: 12px;
	color: $colornegroclaro;
	max-width: 63%;
}
#conect{
	max-width: 23%;
}
#conect a+a{
	margin-left: 1%;
}
h5{
    @include decoracion ($pbottom: 12px, $pleft:30px, $bckimg:url('../../img/arrow.png'), $bckrep:no-repeat, $bckpos:0 3px);
}

//tablet
@media (max-width: 1023px) {
	.cuadro1{
		max-width: 100%;
		padding: 0% 3% 0% 3%;
		float: none;
	}
	.cuadro1 + .cuadro1{
		margin-left: 0%;
		margin-top: 50px;
	}
	.cuadro1-img{
		padding-left: 6%;
		background-image: url(../../img/check.png);
		background-repeat: no-repeat;
	}
	.imagenes{
		width: 45%;
		
	}
	#our-portafolio a+a{
		margin-left: 3%;
	}
	#our-portafolio a{
		margin-left: 3%;
	}
}
@media (max-width: 767px) {
	.cuadro1{
		max-width: 100%;
		padding: 0% 0% 0% 0%;
		float: none;
	}
	.cuadro1 + .cuadro1{
		margin-left: 0%;
		margin-top: 50px;
	}
	.cuadro1-img{
		padding-left: 6%;
		background-image: url(../../img/check.png);
		background-repeat: no-repeat;
	}
	.imagenes{
		width: 100%;
		
	}
	#our-portafolio a+a{
		margin-left: 0%;
	}
	#our-portafolio a{
		margin-left: 0%;
	}

	#uppdates{
		max-width: 70%;
		
	}
	#uppdates p{
		font-size: 12px;
		color: $colornegroclaro;
		max-width: 80%;
	}
}