$colorblancogrisaceo: #e2e2e2;
$colorgrisintermedio: #acacac;
#footer{
	background-color: $colorblancogrisaceo;
	color: $colorgrisintermedio;
	max-width: 960px;
	margin: 0 auto;
}
#footer-nav{
	@include list-style;
	padding: 0;
	margin-top: 30px;
	margin-bottom: 30px;
	position: absolute;
}

#footer-nav li{
	float: left;
	padding-left: 10px;
}
#footer-nav li + li{
	margin-left: 4px;
	border-left: 1px solid $colorgrisintermedio;
}

#footer-nav a{
	@include font-size(12px);
	color: $colorgrisintermedio;
	@include text-decoration;
	
}
#footer img{
	max-width: 11%;
	width: 100%;
	height: 60px;
	position: relative;
	left: 88.54%;
	margin-bottom: 5px;
}
#footer p{
	position: relative;
	top: 50px;
	right: -10px;
	@include font-size(12px);
}
#footer2{
	background-color: $colorblancogrisaceo;
	max-width: 100%;
}