@import 'content';
$colornegro:#090909;
$colorgrisclaro: #c0c0c0;
$colorgrisoscuro: #999898;


h2{
	font-size: 18px;
	color: $colornegro;
	border-bottom: 6px solid $colornegro;
	@include decoracion ($pbottom:12px, $pleft:20px, $bckimg:url('../../img/arrow.png'), $bckrep:no-repeat, $bckpos:0 7px)
	
}


.wrapper{
	max-width: 960px;
	margin: 0 auto;
}

.clearfix::after {
    @include limpieza;
}

.padding-border{
	padding: 3% 0 1.5%;
	border-bottom: 1px solid $colorgrisclaro;
}

#img1{
	float: left;
	max-width: 19%;
}
#imgimg{
	width: 100%;
}

#nav{
	float: right;
	width: 69%;
	position: relative;
}

#nav-link-email{
	font-size: 13px;
	color: $colorgrisoscuro;
	@include text-decoration;
	position: absolute;
	top: 0;
	right: 0;
}

#nav-lista{
	@include list-style;
	margin: 5.7% 0 0 0;
	padding: 0;
}

#nav-lista li{
	float: left;
}
#nav-lista li + li{
	margin-left: 8%;
}

#nav-lista a{
	font-size: 12px;
	font-weight: bold;
	color: $coloranaranjado;
	@include text-decoration;
	text-transform: uppercase;
}