#contenidoprincipal p {
  color: #5d5d5d;
  font-size: 12px;
  line-height: 20px; }

#centro {
  max-width: 100%; }

#cuadro1-extra-lista {
  list-style: none;
  margin: 0;
  padding: 0; }

.cuadro1-img {
  padding-left: 14%;
  background-image: url(../../img/check.png);
  background-repeat: no-repeat; }

#texto {
  font-style: italic;
  font-size: 12px; }

.cuadro1 {
  max-width: 29%;
  float: left; }

.cuadro1 + .cuadro1 {
  margin-left: 6.25%; }

#nav-list a {
  font-size: 12px;
  font-weight: bold;
  color: #fe9b00;
  text-decoration: none; }

#link1 {
  color: #fe9b00;
  text-decoration: none;
  padding-bottom: none;
  padding-left: 20px;
  background-image: url(../../img/arrow.png);
  background-repeat: no-repeat;
  background-position: 0px; }

#portafolio {
  border-bottom: none; }

#our-portafolio a + a {
  margin-left: 2.9%; }

.imagenes {
  width: 22%; }

#prefooter div {
  float: left;
  margin-bottom: 30px; }

#uppdates {
  max-width: 77%; }

#uppdates p {
  font-size: 12px;
  color: #5d5d5d;
  max-width: 63%; }

#conect {
  max-width: 23%; }

#conect a + a {
  margin-left: 1%; }

h5 {
  padding-bottom: 12px;
  padding-left: 30px;
  background-image: url("../../img/arrow.png");
  background-repeat: no-repeat;
  background-position: 0 3px; }

@media (max-width: 1023px) {
  .cuadro1 {
    max-width: 100%;
    padding: 0% 3% 0% 3%;
    float: none; }
  .cuadro1 + .cuadro1 {
    margin-left: 0%;
    margin-top: 50px; }
  .cuadro1-img {
    padding-left: 6%;
    background-image: url(../../img/check.png);
    background-repeat: no-repeat; }
  .imagenes {
    width: 45%; }
  #our-portafolio a + a {
    margin-left: 3%; }
  #our-portafolio a {
    margin-left: 3%; } }

@media (max-width: 767px) {
  .cuadro1 {
    max-width: 100%;
    padding: 0% 0% 0% 0%;
    float: none; }
  .cuadro1 + .cuadro1 {
    margin-left: 0%;
    margin-top: 50px; }
  .cuadro1-img {
    padding-left: 6%;
    background-image: url(../../img/check.png);
    background-repeat: no-repeat; }
  .imagenes {
    width: 100%; }
  #our-portafolio a + a {
    margin-left: 0%; }
  #our-portafolio a {
    margin-left: 0%; }
  #uppdates {
    max-width: 70%; }
  #uppdates p {
    font-size: 12px;
    color: #5d5d5d;
    max-width: 80%; } }

h2 {
  font-size: 18px;
  color: #090909;
  border-bottom: 6px solid #090909;
  padding-bottom: 12px;
  padding-left: 20px;
  background-image: url("../../img/arrow.png");
  background-repeat: no-repeat;
  background-position: 0 7px; }

.wrapper {
  max-width: 960px;
  margin: 0 auto; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.padding-border {
  padding: 3% 0 1.5%;
  border-bottom: 1px solid #c0c0c0; }

#img1 {
  float: left;
  max-width: 19%; }

#imgimg {
  width: 100%; }

#nav {
  float: right;
  width: 69%;
  position: relative; }

#nav-link-email {
  font-size: 13px;
  color: #999898;
  text-decoration: none;
  position: absolute;
  top: 0;
  right: 0; }

#nav-lista {
  list-style: none;
  margin: 5.7% 0 0 0;
  padding: 0; }

#nav-lista li {
  float: left; }

#nav-lista li + li {
  margin-left: 8%; }

#nav-lista a {
  font-size: 12px;
  font-weight: bold;
  color: #fe9b00;
  text-decoration: none;
  text-transform: uppercase; }

@media (max-width: 1023px) {
  #nav-lista {
    list-style: none;
    margin: 5.7% 32% 0 0;
    padding: 0; }
  #nav-lista a {
    font-size: 15px; } }

@media (max-width: 767px) {
  #nav-lista {
    list-style: none;
    margin: 5.7% 0% 0 0;
    padding: 0; }
  #nav-lista a {
    font-size: 20px; } }

#contenidoprincipal p {
  color: #5d5d5d;
  font-size: 12px;
  line-height: 20px; }

#centro {
  max-width: 100%; }

#cuadro1-extra-lista {
  list-style: none;
  margin: 0;
  padding: 0; }

.cuadro1-img {
  padding-left: 14%;
  background-image: url(../../img/check.png);
  background-repeat: no-repeat; }

#texto {
  font-style: italic;
  font-size: 12px; }

.cuadro1 {
  max-width: 29%;
  float: left; }

.cuadro1 + .cuadro1 {
  margin-left: 6.25%; }

#nav-list a {
  font-size: 12px;
  font-weight: bold;
  color: #fe9b00;
  text-decoration: none; }

#link1 {
  color: #fe9b00;
  text-decoration: none;
  padding-bottom: none;
  padding-left: 20px;
  background-image: url(../../img/arrow.png);
  background-repeat: no-repeat;
  background-position: 0px; }

#portafolio {
  border-bottom: none; }

#our-portafolio a + a {
  margin-left: 2.9%; }

.imagenes {
  width: 22%; }

#prefooter div {
  float: left;
  margin-bottom: 30px; }

#uppdates {
  max-width: 77%; }

#uppdates p {
  font-size: 12px;
  color: #5d5d5d;
  max-width: 63%; }

#conect {
  max-width: 23%; }

#conect a + a {
  margin-left: 1%; }

h5 {
  padding-bottom: 12px;
  padding-left: 30px;
  background-image: url("../../img/arrow.png");
  background-repeat: no-repeat;
  background-position: 0 3px; }

@media (max-width: 1023px) {
  .cuadro1 {
    max-width: 100%;
    padding: 0% 3% 0% 3%;
    float: none; }
  .cuadro1 + .cuadro1 {
    margin-left: 0%;
    margin-top: 50px; }
  .cuadro1-img {
    padding-left: 6%;
    background-image: url(../../img/check.png);
    background-repeat: no-repeat; }
  .imagenes {
    width: 45%; }
  #our-portafolio a + a {
    margin-left: 3%; }
  #our-portafolio a {
    margin-left: 3%; } }

@media (max-width: 767px) {
  .cuadro1 {
    max-width: 100%;
    padding: 0% 0% 0% 0%;
    float: none; }
  .cuadro1 + .cuadro1 {
    margin-left: 0%;
    margin-top: 50px; }
  .cuadro1-img {
    padding-left: 6%;
    background-image: url(../../img/check.png);
    background-repeat: no-repeat; }
  .imagenes {
    width: 100%; }
  #our-portafolio a + a {
    margin-left: 0%; }
  #our-portafolio a {
    margin-left: 0%; }
  #uppdates {
    max-width: 70%; }
  #uppdates p {
    font-size: 12px;
    color: #5d5d5d;
    max-width: 80%; } }

#footer {
  background-color: #e2e2e2;
  color: #acacac;
  max-width: 960px;
  margin: 0 auto; }

#footer-nav {
  list-style: none;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  position: absolute; }

#footer-nav li {
  float: left;
  padding-left: 10px; }

#footer-nav li + li {
  margin-left: 4px;
  border-left: 1px solid #acacac; }

#footer-nav a {
  font-size: 12px;
  color: #acacac;
  text-decoration: none; }

#footer img {
  max-width: 11%;
  width: 100%;
  height: 60px;
  position: relative;
  left: 88.54%;
  margin-bottom: 5px; }

#footer p {
  position: relative;
  top: 50px;
  right: -10px;
  font-size: 12px; }

#footer2 {
  background-color: #e2e2e2;
  max-width: 100%; }

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0; }

html {
  border-top: 17px solid #090909; }
