@mixin list-style {
    list-style: none;
}

@mixin limpieza {
    content: "";
    clear: both;
    display: table;
}
@mixin text-decoration {
    text-decoration: none;
}
@mixin decoracion ($pbottom, $pleft, $bckimg, $bckrep, $bckpos) {
        padding-bottom: $pbottom;
        padding-left: $pleft;
        background-image: $bckimg;
        background-repeat: $bckrep;
        background-position: $bckpos;
}
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}   
@mixin fontSize($size) {
    font-size: $size;
    font-size: calculateRem($size);
}